.icon {
  display: flex;
  align-items: center;
  padding: 0.8rem;
  background-color: var(--color-grey-light-3);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
  position: fixed;
  border-radius: 1.3rem;
  bottom: 3%;
  right: 2%;
  cursor: pointer;
  border: none;
  opacity: 0.8;
}

.icon:hover {
  background-color: var(--color-grey-dark-1);
}

.icon svg {
  width: 3rem;
  height: 3rem;
  stroke: var(--color-third-light);
}

.close {
  position: absolute;
  top: 1%;
  right: 2%;
  background-color: transparent;
  border: none;
  cursor: pointer;
  border-radius: 50%;
}

.close svg {
  fill: #7a5e5e;
}

.close:hover svg {
  fill: rgb(184, 132, 132);
}

.title {
  margin-top: 4px;
  text-align: center;
  font-size: 2.7rem;
  border-bottom: 1px solid black;
  /* text-transform: uppercase; */
  letter-spacing: -0.5px;
  color: var(--color-grey-dark-2);
}

.form {
  background-color: #dedede;
}

.improveWeb {
  text-align: center;
  font-size: 1.9rem;
}
