.searchBook{
    /* text-align: center; */
    display: flex;
    justify-content: center;
    margin-bottom: 4rem;
    margin-top: 4rem;
}

.searchBook button{
    margin-left: 5px;
    border-radius: 4px;
    color: rgb(69, 69, 139);
    font-size: 20px;
    font-weight: 60px;
}
.searchBook button:hover{
    border: 2px solid rgb(92, 92, 159);
}


.hr{
    border-style :ridge;
    border-color: #895454
}
