.buttons {
  display: block;
  text-align: center;
  margin-bottom: 13px;
  cursor: pointer;
}

.buttons button {
  letter-spacing: 1.5px;
  padding: 0.5rem 2rem;
  border: 2px solid transparent;
  margin-left: 1rem;
  border-radius: 0.7rem;
  cursor: pointer;
  transition: all 0.5s ease-out;
  font-weight: bold;
}

.buttons button:hover {
  scale: calc(1.05);
  background-color: rgb(153, 153, 211);
}

.description {
  display: block;
  background-color: azure;
}

li {
  list-style: none;
}
