.form {
  color: #4b4b4b;
  padding: 2.3rem;
  position: relative;
}

.form label {
  display: block;
  font-size: 1.9rem;
  letter-spacing: 1.2px;
  font-weight: 600;
  margin-bottom: 0.9rem;
}

.form span {
  font-size: 1.6rem;
  font-weight: 800;
  border: 1px solid #777;
  padding: .2rem;
  position: absolute;
  right: 3%;
  top: 8%;
}

.form input {
  display: block;
  width: 100%;
  padding: 1rem 1.7rem;
  border: 1px solid #4b4b4b;
  border-radius: 5px;
  margin-bottom: 1.18rem;
  font-size: 1.2rem;
  letter-spacing: 1.2px;
  font-weight: 600;
}

.form button {
  display: block;
  margin-top: 1.6rem;
  padding: 0.8rem 2rem;
  border: none;
  border-radius: 5px;
  background-color: #4b4b4b;
  color: #fff;
  font-size: 1.9rem;
  letter-spacing: 1.2px;
  font-weight: 600;
  cursor: pointer;
}

.form section {
  display: flex;
  justify-content: flex-end;
}
