header {
  /* background-color: red; */
}

nav {
  display: inline;
}

nav .logo {
  /* background-color: red; */
  margin-right: auto;
  max-width: 40px;
  /* background-color: red; */
}

#list {
  display: flex;
  margin-top: 0;
  justify-content: flex-end;
  padding: 30px 60px;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
  align-content: center;
  /* background-color: green; */
}

#list li {
  list-style: none;
  padding: 0 30px;
  position: relative;
}

#list li a {
  text-decoration: none;
  font-size: 1.3rem;
  font-weight: 600;
  color: rgb(255, 255, 255);
  transition: 0.3s ease-in-out;
}
#list li a:hover {
  color: #245167;
}
#list li a:hover::after {
  content: "";
  width: 40%;
  height: 2px;
  background: #245167;
  position: absolute;
  top: 25px;
  bottom: 0px;
  left: 30px;
}

#list a.active {
  color: #245167;
}

.active.active::after {
  content: "";
  width: 30%;
  height: 2px;
  background: #245167;
  position: absolute;
  top: 25px;
  left: 30px;
}

.mobile {
  display: none;
}
.mobile i {
  color: #fff;
}

@media screen and (max-width: 769px) {
  #list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    position: fixed;
    top: 47px;
    right: -300px;
    width: 300px;
    height: 100vh;
    background: #2a3239;
    box-shadow: 0 40px 60px rgba(0, 0, 0, 0.1);
    padding: 40px 0 0 10px;
  }
  #list.active {
    right: 0px;
  }
  #list li {
    margin-bottom: 25px;
  }
  .mobile {
    display: block;
    margin-left: 98%;
  }
  .mobile i {
    font-size: 24px;
    cursor: pointer;
  }
}

.login {
  display: inline;
  margin-left: 3%;
  margin-right: -2px;
  margin-top: -4px;
}

.login button {
  padding: 10px 34px;
  background-color: transparent;
  color: #fff;
  font-size: 17px;
  font-weight: bold;
  border: 1.5px solid rgb(12, 8, 8);
  border-radius: 8px;
  transition: all 0.3s ease-out;
  cursor: pointer;
}

.login button:hover {
  background-color: #fff;
  color: black;
  border: 1.5px solid transparent ;
}

.login-photo{
  margin-left: 3%;
}

.login-photo button{
  background-color: transparent;
  border:none
}

.login-photo img{
  max-height: 40px;
  margin-left: 3%;
  border-radius: 30px;
  margin-top: -4px;
}
