.card {
  /* background-color: var(--color-third-light); */
  background-image: linear-gradient(
    to right,
    var(--color-third-light) 24%,
    var(--color-third-dark) 20%
  );
  width: 65%;
  margin-left: auto;
  margin-right: auto;
  height: 44vh;

  display: grid;
  grid-template-columns: minmax(23%, 1fr) minmax(75%, 1fr);
  grid-column-gap: 2rem;
  padding: 1.7rem 0;
  border-radius: 2rem;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}

.section-one {
  padding: 0 1.2rem 0 2rem;
  border-radius: 2rem;
  display: flex;
  flex-direction: column;
}

.image {
  padding: 1.5rem;
  height: 80%;
  border: 2px solid var(--color-grey-light-3);
  border-radius: 1rem;
}

.image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.preview {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.preview button {
  background-color: var(--color-third-dark);
}

.preview a:link,
a:visited {
  color: var(--color-grey-light-3);
  text-decoration: none;
}

.section-two {
  padding: 1rem 3rem;
  display: flex;
  flex-direction: column;
}
.section-two hr {
  border-color: var(--color-grey-dark-1);
  width: 80%;
  margin: 2.7rem auto;
}

.title-details {
}

.title-details h2 {
  color: var(--color-grey-dark-1);
  letter-spacing: -1px;
  display: inline-block;
  font-size: 2.7rem;
  line-height: 1.2;
  margin: 0;
}

.title-details p {
  padding: 0.2rem;
  margin: 0;
  font-size: 1.6rem;
  line-height: 2.5rem;
  color: var(--color-grey-light-2);
  font-weight: 200;
}
.title-details p span {
  margin-right: 0.3rem;
  color: var(--color-grey-dark-1);
}

.meta-details {
  /* background-color: red; */
  flex: 1;
  display: flex;
  flex-direction: column;
}

.meta-details ul {
  margin: 0;
  padding: 0;
  display: flex;
}

.meta-details ul li {
  font-size: 1.5rem;
  letter-spacing: 1px;
  font-weight: 400;
  line-height: 2rem;
  color: var(--color-grey-light-3);
}

.meta-details .middle-point {
  margin: 0 1.5rem;
  display: flex;
  font-size: 2.5em;
  color: var(--color-grey-dark-1);
  line-height: 0.5rem;
}

.meta-details .textSnippet {
  flex: 1;
  padding-top: 2rem;
  /* background-color: red; */
}
.meta-details p {
  opacity: 0.7;
  margin: 0;
  font-size: 1.3rem;
  color: var(--color-grey-dark-1);
}

.meta-details .description__button {
  display: flex;
  justify-content: flex-end;
}

.card button {
  color: var(--color-grey-light-3);
  border: none;
  border-radius: 2rem;
  padding: 1rem 2rem;
  font-size: 1.5rem;
  font-weight: 400;
  cursor: pointer;
  transition: all 0.2s;
}

.meta-details button {
  background-color: var(--color-third-light);
}

.card button:hover {
  background-color: var(--color-green-dark);
  color: var(--color-grey-light-2);
}

.description {
  width: 80%;
  margin: 0rem auto 1rem auto;
  background-color: var(--color-third-dark);
  border-radius: 1rem;
}

.description p {
  font-size: 1.4rem;
  padding: 1.5rem;
  color: var(--color-grey-dark-1);
}
