.card-box {
  background-color: #2a7acf;
  display: flex;
  margin-left: 23%;
  margin-right: 23%;
  margin-bottom: 0;
  height: 24.5vh;
  border-radius: 20px;
  position: relative;
  letter-spacing: 1.2px;

  animation: cardLeftToRight 1s ease-out;
}

@media (max-width: 768px) {
  .card-box {
    margin-left: 0;
    margin-right: 0;
    width: 100%;
  }
}

@keyframes cardLeftToRight {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  80% {
    transform: translateY(5px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.img img {
  width: 140px;
  height: 190px;
  margin-left: 11px;
  margin-top: 2px;
  position: relative;
}

.data {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  position: absolute;
  top: 0;
  left: 23%;
  right: 5%;
  bottom: 0;
  color: #fff;
}

.title {
  display: block;
  font-size: 16px;
  width: 100%;
}

.author {
  display: block;
}

.additional {
  display: flex;
  justify-content: space-between;
}

.buttons {
  display: block;
  text-align: center;
  margin-bottom: 13px;
}

.buttons button {
  letter-spacing: 1.5px;
  padding: 5px 20px;
  border: 2px solid transparent;
  margin-left: 10px;
  border-radius: 7px;
  cursor: pointer;
  transition: all 0.5s ease-out;
  font-weight: bold;
}

.buttons button:hover {
  scale: calc(1.09);
  background-color: rgb(153, 153, 211);
}

.description {
  border-radius: 8px;
  padding: 10px 20px;
  margin-left: 6%;
  margin-right: 6%;
  display: block;
  background-color: azure;
}
