.main {
  display: flex;
  align-items: center;
}

.main input {
  display: inline-block;
  width: 500px;
  height: 43px;
  border-radius: 90px;
  color: rgb(22, 19, 19);
  font-size: 1.2rem;
  font-weight: 700;
  background-color: rgb(174, 186, 186);
  padding: 8px;
}

.search-button {
  background-color: transparent;
  border: none;
  margin-left: -40px;
  border-radius: 10px;
  padding: 5px;
}

.search-button svg {
  width: 25px;
  height: 25px;
  fill: rgb(9, 9, 91);
}

.search-button:hover {
  border: 1px solid rgb(206, 207, 194);
}

.main input:focus {
  border: 1px solid rgb(9, 9, 91);
}
